@charset "utf-8";

body .diyw {}

html body .diyw, html .diyw p, html .diyw table, html .diyw td
{
	font:normal 16px/140% Georgia, serif;
	color:#0231f9;
}

html .diyw h1
{
	font:bold 20px/140% "Trebuchet MS", Helvetica, sans-serif;
	color:#0325bc;
	
}

html .diyw h2
{
	font:normal 15px/140% Arial, Helvetica, sans-serif;
	color:#006837;
	
}

/* Blog */

.diyw a.trackbackUrl, 
.diyw a.trackbackUrl:link,
.diyw a.trackbackUrl:visited,
.diyw a.trackbackUrl:hover,
.diyw a.trackbackUrl:active
{
	background:#EEEEEE none repeat scroll 0% 0%;
	border:1px solid black;
	color:#333333;
	padding:2px;
	text-decoration:none;
}

.diyw a:link,
.diyw a:visited
{
	text-decoration: underline; /* fix */
	color:#0000ff; 
}

.diyw a:active, 
.diyw a:hover
{
	text-decoration:none; /* fix */
	color: #0000ff;
}

html .diyw div.hr
{
	border-bottom-style:solid;
	border-bottom-width:1px; /* fix */
	border-color: #000000;
	height: 1px;
}